body {
  font-family: 'Roboto';
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 10%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#hero p {
  font-size: 18px;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 10px 40px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
}

.btn-cta {
  border: 2px solid #f9faf8;
}

#hero {
  background-color: #1f2937;
  padding: 10rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeholder-hero {
  background-color: grey;
  height: 230px;
  width: 1200px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#information {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f9faf8;
  padding: 10px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.container-article {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

article {
  max-width: 150px;
}

article div {
  border-radius: 10px;
  border: 3px solid #3882f6;
  height: 150px;
  width: 150px;
  margin-top: 10px;
  background-color: #f9faf8;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  margin: 0;
  padding: 5rem 0;
}

blockquote div {
  max-width: 830px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 0;
}

.quote-name {
  font-weight: bolder;
  font-size: 20px;
  text-align: right;
  margin-right: 2rem;
}

.cta-container {
  background-color: #3882f6;
  padding: 2rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

#cta {
  padding: 5rem 10rem;
  background-color: #f9faf8;
}

#cta div {
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
